#container{
    background-color: rgb(233, 56, 233);
    height: 50px;
}
#check{
    position: relative;

}
nav ul {
    list-style-type: none;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 1em;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}
